{# _shopping_cart_project/templates/index.html_ #}
{% extends "layout.html" %}
{% block title %} Feet-on |  Login {% endblock  %}
{% block body %}
<div class="large-12">

	<div class="large-4 logger">
		<h1>SIGN IN</h1>
		{% for messages in get_flashed_messages() %}
			{{ messages }}
		{% endfor %}
		{% if error %}
			<span class="error"><strong>Error:</strong> {{ error }}</span>
		{% endif%}
		<form action="" method="post">
			<input type="text" name="email" class="textbox"  placeholder="Your Email..." value="{{ request.form.email }}"/>
			<input type="password" name="password" class="textbox" placeholder="Your Password..." value="{{ request.form.password }}" />
			<input type="submit" name="submit" class="button" value="LOGIN" /> <a href="/reg" class="button right">SIGN UP</a>
		</form>
		<a href="/forgot_password">Forgot My Password</a>
		
	</div>
</div>
{% endblock %}
