{# _shopping_cart_project/templates/index.html_ #}
{% extends "layout.html" %}
{% block title %} Feet-on |  Register {% endblock  %}
{% block body %}
<div class="large-12">
	<div class="large-4 logger">
		<h1>SIGN UP</h1>
		<form>
			<input type="text" name="email" class="textbox"  placeholder="Your Email..."/>
			<input type="password" name="password" class="textbox" placeholder="Your Password..." />
			<input type="submit" name="submit" class="button" value="REGISTER" /> <a href="/login" class="button right">SIGN IN</a>
		</form>
		
	</div>
</div>
{% endblock %}
